:root {
	/* light theme */
	--black		: #424242;
	--white         : #FFFFE8;
	--cyan          : #4fa8a8;
	--red           : #b85c57;
	--yellow        : #989848;
	--green         : #40883f;
	--blue          : #0287c8;
	--magenta	: #8888c8;
	--fg            : #424242;
	--bg            : #FFFFE8;


}

.black{
	color: var(--black);
}

.red{
	color: var(--red);
}

.green{
	color: var(--green);
}

.yellow{
	color: var(--yellow);
}

.blue{
	color: var(--blue);
}

.magenta{
	color: var(--magenta);
}

.cyan{
	color: var(--cyan);
}

.white{
	color: var(--white);
}

pre{
	padding: 1%;
	overflow: auto;
	background-color: var(--bg);
	color: var(--fg);
	border: solid 2px var(--cyan);
}

