:root {
	/* light theme */
      --bg     		:#FFFFE8;
      --fg     		:#444444;
      --cyan   		:#007777;
      --red    		:#880000;
      --yellow 		:#888838;
      --green  		:#005500;
      --blue   		:#1054AF;
      --magenta		:#555599;


}

.black{
	color: var(--black);
}

.red{
	color: var(--red);
}

.green{
	color: var(--green);
}

.yellow{
	color: var(--yellow);
}

.blue{
	color: var(--blue);
}

.magenta{
	color: var(--magenta);
}

.cyan{
	color: var(--cyan);
}

.white{
	color: var(--white);
}

pre{
	padding: 1%;
	overflow: auto;
	background-color: var(--bg);
	color: var(--fg);
	border: solid 2px var(--cyan);
}

