:root {
	/* dark theme */
	--black  	: #505450; 
	--red  		: #ff0000; 
	--green		: #a7e14b; 
	--yellow 	: #fddc01; 
	--blue 		: #0087ff; 
	--magenta 	: #e628ba; 
	--cyan 		: #74fff7; 
	--white 	: #ffffff; 
	--bg 		: #000000; 
	--fg 		: #ffffff;
}

.black{
	color: var(--black);
}

.red{
	color: var(--red);
}

.green{
	color: var(--green);
}

.yellow{
	color: var(--yellow);
}

.blue{
	color: var(--blue);
}

.magenta{
	color: var(--magenta);
}

.cyan{
	color: var(--cyan);
}

.white{
	color: var(--white);
}

pre{
	padding: 1%;
	overflow: auto;
	background-color: var(--bg);
	color: var(--fg);
}
