:root {
	/* light theme */
	--black 	: #151515; 
	--red 		: #a60101; 
	--green 	: #026802; 
	--yellow 	: #ab6e03; 
	--blue 		: #005faf; 
	--magenta 	: #9c3885; 
	--cyan 		: #08bab0; 
	--white 	: #aaaaaa; 
	--bg 		: #ffffff;
	--fg 		: #000000; 

}

.black{
	color: var(--black);
}

.red{
	color: var(--red);
}

.green{
	color: var(--green);
}

.yellow{
	color: var(--yellow);
}

.blue{
	color: var(--blue);
}

.magenta{
	color: var(--magenta);
}

.cyan{
	color: var(--cyan);
}

.white{
	color: var(--white);
}

pre{
	padding: 1%;
	overflow: auto;
	background-color: var(--bg);
	color: var(--fg);
}

